@charset "UTF-8";
/* Bass
----------------------------------------------------------------*/
* {
  list-style-type: none;
  margin: 0;
  vertical-align: bottom; }

a:link {
  text-decoration: none; }

a:visited {
  text-decoration: nonee; }

a:hover {
  text-decoration: none; }

a:active {
  text-decoration: none; }

.container {
  width: 974px;
  max-width: 93.7%;
  margin: auto; }

.clearfix::after {
  content: "";
  clear: both;
  display: block; }

.fbox {
  display: flex; }

.left {
  float: left; }

.right {
  float: right; }

.orange {
  color: #ff8b2a; }

html {
  font-size: 62.5%; }

body {
  color: #292929;
  font-size: 1.6rem;
  font-family: "游ゴシック", YuGothic, "メイリオ", Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  line-height: 1.6;
  letter-spacing: 0.01em;
  background-color: #f7fbfb; }

h1 {
  margin: 0; }

h2 {
  text-shadow: 3px 3px 4px rgba(255, 255, 255, 0.7), -3px 3px 4px rgba(255, 255, 255, 0.7), 3px -3px 4px rgba(255, 255, 255, 0.7), -3px -3px 4px rgba(255, 255, 255, 0.7), 0px 3px 4px rgba(255, 255, 255, 0.7), -3px 0px 4px rgba(255, 255, 255, 0.7), 0px -3px 4px rgba(255, 255, 255, 0.7), 3px 0px 4px rgba(255, 255, 255, 0.7);
  font-size: 5.0rem;
  font-weight: bold;
  color: #ff8b2a;
  line-height: 180px;
  /*coverのheightと同じ値で真ん中になる*/
  display: inline-block; }
  @media (min-width: 768px) {
    h2 {
      font-size: 3.5rem;
      line-height: 0;
      margin-top: 55px; } }

h3 {
  font-size: 3.5rem;
  color: #0bb1bd;
  text-shadow: 3px 3px 4px rgba(255, 255, 255, 0.7), -3px 3px 4px rgba(255, 255, 255, 0.7), 3px -3px 4px rgba(255, 255, 255, 0.7), -3px -3px 4px rgba(255, 255, 255, 0.7), 0px 3px 4px rgba(255, 255, 255, 0.7), -3px 0px 4px rgba(255, 255, 255, 0.7), 0px -3px 4px rgba(255, 255, 255, 0.7), 3px 0px 4px rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
  text-align: center;
  line-height: 77px;
  /*coverのheightと同じ値で真ん中になる*/ }

h4 {
  font-size: 3.0rem;
  color: #ff8b2a;
  margin-bottom: 20px;
  text-align: center; }
  @media (min-width: 768px) {
    h4 {
      text-align: left; } }

h5 {
  font-size: 1.8rem;
  color: #3d63ba;
  font-weight: bold;
  margin-bottom: 20px; }
  @media (min-width: 768px) {
    h5 {
      font-size: 1.8rem; } }

h5:before {
  content: url("../images/01-3_treatment/paragraph.png");
  display: inline-block;
  margin-right: 6px;
  position: relative;
  top: 3px; }

.baseColor_container {
  background: #f7fbfb; }

.subColor_container {
  background: #11d7de;
  color: white; }

.sp_menu_menuColor {
  padding: 0;
  text-align: center;
  font-weight: bold;
  background: #0bb1bd;
  color: white; }
  @media (min-width: 768px) {
    .sp_menu_menuColor {
      display: none; } }
  .sp_menu_menuColor div {
    height: 54px;
    line-height: 54px;
    font-size: 20px; }
  .sp_menu_menuColor :link {
    color: white; }
  .sp_menu_menuColor :visited {
    color: white; }
  .sp_menu_menuColor :hover {
    color: white; }
  .sp_menu_menuColor :active {
    color: white; }
  .sp_menu_menuColor li:hover {
    text-decoration: none; }
  .sp_menu_menuColor li {
    border: solid 1px white;
    border-left: none;
    border-right: none; }

.sp_menu_white {
  padding: 0;
  text-align: center;
  font-weight: bold;
  background: #f7fbfb;
  color: #11d7de; }
  @media (min-width: 768px) {
    .sp_menu_white {
      display: none; } }
  .sp_menu_white div {
    height: 54px;
    line-height: 54px;
    font-size: 20px; }
  .sp_menu_white :link {
    color: #11d7de; }
  .sp_menu_white :visited {
    color: #11d7de; }
  .sp_menu_white :hover {
    color: #11d7de; }
  .sp_menu_white :active {
    color: #11d7de; }
  .sp_menu_white li {
    border: solid 1px #11d7de;
    border-left: none;
    border-right: none; }

/* header
----------------------------------------------------------------*/
.header_bg {
  background: #f7fbfb;
  padding-top: 14px;
  padding-bottom: 5px; }
  .header_bg .header_container {
    align-items: flex-end; }
    .header_bg .header_container .header_left {
      margin-right: auto; }
      .header_bg .header_container .header_left .logo_img {
        padding-bottom: 7px; }
      .header_bg .header_container .header_left .logo_pc {
        color: #11d7de; }
        .header_bg .header_container .header_left .logo_pc .title_sublogo {
          font-size: 12px; }
        .header_bg .header_container .header_left .logo_pc .title_logo {
          font-size: 40px;
          font-weight: bold; }
      @media (min-width: 768px) {
        .header_bg .header_container .header_left .logo_sp {
          display: none; } }
      .header_bg .header_container .header_left .header_address_sp {
        color: #11d7de;
        font-size: 1.6rem; }
        .header_bg .header_container .header_left .header_address_sp a:link {
          color: #11d7de; }
        @media (min-width: 768px) {
          .header_bg .header_container .header_left .header_address_sp {
            display: none; } }
    .header_bg .header_container .header_right .header_address_pc {
      color: #11d7de;
      font-size: 1.8rem; }
      .header_bg .header_container .header_right .header_address_pc a:link {
        color: #11d7de; }
      @media (max-width: 767px) {
        .header_bg .header_container .header_right .header_address_pc {
          display: none; } }
    @media (min-width: 768px) {
      .header_bg .header_container .header_right .SP_menu_li {
        display: none; } }
    .header_bg .header_container .header_right .SP_menu_li #hamburger_menu_container {
      background: #0bb1bd;
      border-radius: 7px; }

@media (max-width: 767px) {
  #PC_menu {
    display: none; } }

.table-ul {
  display: table;
  table-layout: fixed;
  text-align: center;
  padding: 0;
  width: 100%;
  margin-bottom: 60px; }
  .table-ul li {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    /*ホバー時に色を薄くする*/ }
    .table-ul li a:hover img {
      opacity: 0.7;
      filter: alpha(opacity=70);
      -ms-filter: “alpha(opacity=70) ”; }
    .table-ul li .pc_menu_text {
      display: block; }
      .table-ul li .pc_menu_text .main_menu_img {
        width: 100%;
        height: 35px; }
      .table-ul li .pc_menu_text p {
        position: absolute;
        top: 50%;
        left: 0;
        -ms-transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        /*縦の文字分のズレを調節*/
        padding: 0;
        left: 0;
        right: 0;
        margin: auto;
        font-size: 1.4rem;
        font-weight: bold;
        color: white;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.3), 1px -1px 1px rgba(0, 0, 0, 0.3), -1px -1px 1px rgba(0, 0, 0, 0.3); }
        .table-ul li .pc_menu_text p :link {
          color: white; }
        .table-ul li .pc_menu_text p :visited {
          color: white; }
        .table-ul li .pc_menu_text p :hover {
          color: white; }
        .table-ul li .pc_menu_text p :active {
          color: white; }

/* #SP_menu
----------------------------------------------------------------*/
@media (min-width: 768px) {
  #SP_menu {
    display: none; } }
#SP_menu .SP_sub_menu_li {
  display: none; }
  #SP_menu .SP_sub_menu_li .SP_sub_menu_item {
    text-align: center;
    font-weight: bold;
    color: white; }
    #SP_menu .SP_sub_menu_li .SP_sub_menu_item :link {
      color: white; }
    #SP_menu .SP_sub_menu_li .SP_sub_menu_item :visited {
      color: white; }

/* cover_area
----------------------------------------------------------------*/
#cover_area {
  height: 353px;
  text-align: center;
  padding: 0;
  margin-bottom: 40px;
  background-image: url("../images/02-1_index/02-1_toppage_cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%; }
  @media (min-width: 768px) {
    #cover_area {
      background-image: url("../images/01-1_index/01-1_toppage_cover.jpg");
      text-align: left;
      height: 481px;
      padding: 0;
      margin-bottom: 0; } }

/* main_container
----------------------------------------------------------------*/
#main_container {
  background: #f7fbfb;
  padding-bottom: 85px; }
  #main_container .main_fbox {
    -webkit-flex-direction: column;
    /* Safari */
    flex-direction: column; }
    @media (min-width: 768px) {
      #main_container .main_fbox {
        -webkit-flex-direction: row;
        /* Safari */
        flex-direction: row;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        /*左右に開くfbox*/ } }
  #main_container .fbox {
    /*side_contents*/ }
    #main_container .fbox .main_contents {
      width: 100%; }
      @media (min-width: 768px) {
        #main_container .fbox .main_contents {
          width: 61%; } }
      #main_container .fbox .main_contents .news {
        text-align: center;
        margin-bottom: 50px; }
        @media (min-width: 768px) {
          #main_container .fbox .main_contents .news {
            text-align: left; } }
        #main_container .fbox .main_contents .news .news_contents {
          padding-bottom: 15px; }
      #main_container .fbox .main_contents .greeting_fbox {
        -webkit-flex-direction: column-reverse;
        /* Safari */
        flex-direction: column-reverse; }
        @media (min-width: 768px) {
          #main_container .fbox .main_contents .greeting_fbox {
            -webkit-flex-direction: row;
            /* Safari */
            flex-direction: row;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            /*左右に開くfbox*/ } }
        #main_container .fbox .main_contents .greeting_fbox .greeting_text {
          width: 100%;
          margin-bottom: 50px; }
          @media (min-width: 768px) {
            #main_container .fbox .main_contents .greeting_fbox .greeting_text {
              text-align: left;
              width: 62%; } }
        #main_container .fbox .main_contents .greeting_fbox .greeting_img {
          width: 200px;
          margin: auto;
          margin-bottom: 30px; }
          @media (min-width: 768px) {
            #main_container .fbox .main_contents .greeting_fbox .greeting_img {
              text-align: left;
              width: 33%;
              margin: 0; } }
          #main_container .fbox .main_contents .greeting_fbox .greeting_img img {
            width: 100%;
            height: auto; }
      #main_container .fbox .main_contents .subject {
        margin-bottom: 50px; }
        @media (min-width: 768px) {
          #main_container .fbox .main_contents .subject {
            margin: 0; } }
    #main_container .fbox .side_contents {
      width: 100%; }
      @media (min-width: 768px) {
        #main_container .fbox .side_contents {
          width: 33%; } }
      #main_container .fbox .side_contents .time_table {
        border: 1px #292929 solid;
        width: 100%;
        text-align: center;
        margin-bottom: 50px; }
        #main_container .fbox .side_contents .time_table th {
          background: #ccf8f8;
          border: 1px #000 solid;
          padding: 3px; }
        #main_container .fbox .side_contents .time_table td {
          border: 1px #000 solid;
          padding: 3px; }
      #main_container .fbox .side_contents .ggmap {
        position: relative;
        overflow: hidden;
        border: solid #292929 1px; }
        #main_container .fbox .side_contents .ggmap #map1 {
          width: 100%;
          height: 300px; }

/* footer
----------------------------------------------------------------*/
footer {
  background: #ccf8f8;
  padding-bottom: 40px; }
  @media (min-width: 768px) {
    footer {
      padding-top: 30px;
      padding-bottom: 20px; } }
  footer .footer_text_container {
    margin-top: 30px;
    font-size: 1.3rem;
    padding-bottom: 30px;
    text-align: center;
    -webkit-flex-direction: column;
    /* Safari */
    flex-direction: column; }
    @media (min-width: 768px) {
      footer .footer_text_container {
        -webkit-flex-direction: row;
        /* Safari */
        flex-direction: row;
        margin-top: 0;
        text-align: left; } }
    footer .footer_text_container a:link {
      color: #292929; }
    footer .footer_text_container .footer_title {
      padding-top: 10px;
      padding-bottom: 20px; }
    footer .footer_text_container .footer_name {
      font-size: 3.0rem;
      font-weight: bold; }
      @media (min-width: 768px) {
        footer .footer_text_container .footer_name {
          font-size: 1.3rem;
          font-weight: normal; } }
    footer .footer_text_container .footer_text_container_1 {
      padding-left: 0;
      margin-bottom: 10px; }
      @media (min-width: 768px) {
        footer .footer_text_container .footer_text_container_1 {
          margin: 0; } }
    footer .footer_text_container .footer_text_container_2 {
      padding-left: 0; }
      @media (min-width: 768px) {
        footer .footer_text_container .footer_text_container_2 {
          padding-left: 96px; } }
  footer li:hover {
    text-decoration: underline; }
  footer .footer_pc_menu {
    display: inline-block;
    padding: 0; }
    @media (max-width: 767px) {
      footer .footer_pc_menu {
        display: none; } }
    footer .footer_pc_menu li {
      display: inline-block;
      padding: 0 10px 0 7px;
      background-image: url("../images/01-1_index/arrow_black.png");
      background-size: 4px 8px;
      background-repeat: no-repeat;
      background-position: 0px 45%;
      font-size: 1.3rem;
      display: inline-block; }

/* introduction.html
----------------------------------------------------------------*/
#introduction_cover_area {
  height: 180px;
  padding: 0;
  margin-bottom: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../images/01-2_introduction/02-2_introduction_cover.jpg"); }
  @media (min-width: 768px) {
    #introduction_cover_area {
      margin-bottom: 50px; } }
  #introduction_cover_area .sub_over_area {
    position: relative;
    text-align: center; }
    @media (min-width: 768px) {
      #introduction_cover_area .sub_over_area {
        text-align: left; } }
  @media (min-width: 768px) {
    #introduction_cover_area {
      background-image: url("../images/01-2_introduction/01-2_introduction_cover.jpg"); } }

.subpage_fbox {
  -webkit-flex-direction: column;
  /* Safari */
  flex-direction: column; }
  @media (min-width: 768px) {
    .subpage_fbox {
      -webkit-flex-direction: row;
      /* Safari */
      flex-direction: row;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      /*左右に開くfbox*/ } }

/* side_menu
----------------------------------------------------------------*/
.side_menu_contents {
  width: 24%; }
  @media (max-width: 767px) {
    .side_menu_contents {
      display: none; } }

.side_table-ul {
  display: table;
  table-layout: fixed;
  text-align: center;
  padding: 0;
  width: 100%;
  margin-bottom: 60px; }
  .side_table-ul li {
    vertical-align: middle;
    position: relative;
    /*ホバー時に色を薄くする*/ }
    .side_table-ul li a:hover img {
      opacity: 0.7;
      filter: alpha(opacity=70);
      -ms-filter: “alpha(opacity=70) ”; }
    .side_table-ul li .pc_menu_text {
      display: block; }
      .side_table-ul li .pc_menu_text .main_menu_img {
        width: 100%;
        height: 35px; }
      .side_table-ul li .pc_menu_text p {
        position: absolute;
        top: 50%;
        left: 0;
        -ms-transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        /*縦の文字分のズレを調節*/
        padding: 0;
        left: 0;
        right: 0;
        margin: auto;
        font-size: 1.6rem;
        font-weight: bold;
        color: white;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.3), 1px -1px 1px rgba(0, 0, 0, 0.3), -1px -1px 1px rgba(0, 0, 0, 0.3); }
        .side_table-ul li .pc_menu_text p :link {
          color: white; }
        .side_table-ul li .pc_menu_text p :visited {
          color: white; }
        .side_table-ul li .pc_menu_text p :hover {
          color: white; }
        .side_table-ul li .pc_menu_text p :active {
          color: white; }

/* subpage_main_contents (introduction.html)
----------------------------------------------------------------*/
.subpage_main_contents {
  width: 100%;
  /* stuff
  ----------------------------------------------------------------*/
  /* picture
  ----------------------------------------------------------------*/ }
  @media (min-width: 768px) {
    .subpage_main_contents {
      width: 68%; } }
  .subpage_main_contents .paragraph {
    margin-bottom: 90px; }
  .subpage_main_contents .heading {
    width: 432px;
    max-width: 100%;
    height: 77px;
    margin: auto;
    margin-bottom: 40px;
    background-image: url("../images/01-2_introduction/pattern.jpg"); }
  .subpage_main_contents .stuff_fbox {
    margin-bottom: 80px;
    -webkit-flex-direction: column-reverse;
    /* Safari */
    flex-direction: column-reverse; }
    @media (min-width: 768px) {
      .subpage_main_contents .stuff_fbox {
        -webkit-flex-direction: row;
        /* Safari */
        flex-direction: row;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        /*左右に開くfbox*/ } }
    .subpage_main_contents .stuff_fbox .stuff_text_container {
      margin: auto; }
      @media (min-width: 768px) {
        .subpage_main_contents .stuff_fbox .stuff_text_container {
          margin: 0; } }
      .subpage_main_contents .stuff_fbox .stuff_text_container .stuff_name {
        font-size: 2.5rem;
        font-weight: bold;
        color: #757575;
        margin-bottom: 10px; }
    .subpage_main_contents .stuff_fbox .stuff_img_container {
      text-align: center;
      margin-bottom: 30px; }
      @media (min-width: 768px) {
        .subpage_main_contents .stuff_fbox .stuff_img_container {
          margin: 0; } }
  .subpage_main_contents .picture .heading {
    margin-bottom: 10px; }
  .subpage_main_contents .picture .picture_fbox {
    margin-bottom: 80px;
    -webkit-flex-direction: column;
    /* Safari */
    flex-direction: column; }
    @media (min-width: 768px) {
      .subpage_main_contents .picture .picture_fbox {
        -webkit-flex-direction: row;
        /* Safari */
        flex-direction: row;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        /*左右に開くfbox*/
        -webkit-flex-wrap: wrap;
        /* Safari */
        flex-wrap: wrap; } }
    .subpage_main_contents .picture .picture_fbox div {
      text-align: center; }
      @media (min-width: 768px) {
        .subpage_main_contents .picture .picture_fbox div {
          text-align: left; } }
      .subpage_main_contents .picture .picture_fbox div img {
        margin-top: 45px; }

/* treatment.html
----------------------------------------------------------------*/
#treatment_cover_area {
  height: 180px;
  padding: 0;
  margin-bottom: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../images/01-3_treatment/02-3_treatment_cover.jpg"); }
  @media (min-width: 768px) {
    #treatment_cover_area {
      margin-bottom: 50px; } }
  #treatment_cover_area .sub_over_area {
    position: relative;
    text-align: center; }
    @media (min-width: 768px) {
      #treatment_cover_area .sub_over_area {
        text-align: left; } }
  @media (min-width: 768px) {
    #treatment_cover_area {
      background-image: url("../images/01-3_treatment/01-3_treatment_cover.jpg"); } }

.float_right_picture {
  float: right; }

.mini_paragraph {
  margin-bottom: 50px; }

.illust_description_fbox {
  -webkit-flex-direction: column;
  /* Safari */
  flex-direction: column;
  margin-bottom: 70px; }
  @media (min-width: 768px) {
    .illust_description_fbox {
      -webkit-flex-direction: row;
      /* Safari */
      flex-direction: row;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      /*左右に開くfbox*/ } }
  .illust_description_fbox .illust_container {
    width: 100%;
    margin-bottom: 20px;
    text-align: center; }
    @media (min-width: 768px) {
      .illust_description_fbox .illust_container {
        width: 19%;
        margin: 0; } }
    .illust_description_fbox .illust_container .C4_illust {
      position: relative;
      top: 0; }
    @media (min-width: 768px) {
      .illust_description_fbox .illust_container {
        top: 30px; } }
  .illust_description_fbox .description_container {
    width: 100%; }
    @media (min-width: 768px) {
      .illust_description_fbox .description_container {
        width: 74%; } }
    .illust_description_fbox .description_container .description_title {
      font-size: 2.0rem;
      font-weight: bold;
      color: #3d63ba;
      margin-bottom: 5px; }

/*# sourceMappingURL=style.css.map */
