@import "compass";

// font-family
$baseFontFamily :"游ゴシック", YuGothic, "メイリオ",Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

// colors
$baseColor: #f7fbfb;
$subColor: #11d7de;
$menuColor: #0bb1bd;
$keyColor: #ff8b2a;
$fontColor: #292929;
$footerColor: #ccf8f8;
$nameColor: #757575;
$subheadingColor: #3d63ba;

// 

@mixin icon($background-color:$keyColor) {
        display: inline-block;
        background-color: $background-color;
        border-radius: 100%;
    } // アイコン様のmixin
    
@mixin font_white {
        color: white;
        :link { color:white;}
        :visited { color:white;}
        :hover { color:white;}
        :active { color:white;}
    } // リンクのフォントを全て白に
    
@mixin font_subColor {
        color: $subColor;
        :link { color:$subColor;}
        :visited { color:$subColor;}
        :hover { color:$subColor;}
        :active { color:$subColor;}
    } // リンクのフォントを全てサブカラーに
    
@mixin sub_title {
        font-size: 2.3rem;
        font-weight: bold;
        text-align: center;
        
        @media (min-width: 768px) {
            font-size: 3.5rem;
        }
    } // サブタイトル(小見出しの方)用のmixin
    
@mixin subtitle_shadow {
        text-shadow: 3px 3px 4px rgba(255,255,255,0.7),
            -3px 3px 4px rgba(255,255,255,0.7),
            3px -3px 4px rgba(255,255,255,0.7),
            -3px -3px 4px rgba(255,255,255,0.7),
            0px 3px 4px rgba(255,255,255,0.7),
            -3px 0px 4px rgba(255,255,255,0.7),
            0px -3px 4px rgba(255,255,255,0.7),
            3px 0px 4px rgba(255,255,255,0.7);
    } // サブタイトル用のドロップシャドウ
    
@mixin sp_menu {
    padding:0;
    text-align: center;
    font-weight: bold;
    
    @media (min-width: 768px) {
        display: none;
    }
    
    div{
            height: 54px;
            line-height: 54px;
            font-size: 20px;
    }
} // sp用のメニューのmixin


@mixin sub_page_cover_area {
    height: 180px;
    padding: 0;
    margin-bottom: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    
    //PC表示
    @media (min-width:768px) {
        margin-bottom: 50px;
    }
    .sub_over_area{
        position: relative;
        text-align: center;
    
        @media (min-width:768px) {
            text-align: left;
        }
    }
} // TOPページ以外のカバーのmixin

    

/* Bass
----------------------------------------------------------------*/


* {
    list-style-type: none;
    margin:0;
    vertical-align: bottom;
    // ↑ 画像をhタグ等で囲った時に無駄な余白を作らなくする。
}

a:link { text-decoration:none }
a:visited { text-decoration:nonee }
a:hover { text-decoration:none }
a:active { text-decoration:none }


.container {
    width: 974px;
    max-width: 93.7%;
    margin: auto;
}


.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.fbox {
    display: flex;
}

.left {
    float: left;
}

.right {
    float: right;
}

.orange{
         color: $keyColor;
     }



html{ font-size: 62.5%; }

body{
    color: $fontColor;
    font-size: 1.6rem;
    font-family: $baseFontFamily;
    line-height: 1.6;
    letter-spacing: 0.01em;
    background-color: $baseColor;
}

h1 {
    margin: 0;
}

h2 {
    @include subtitle_shadow;
    font-size: 5.0rem;
    font-weight: bold;
    color: $keyColor;
    line-height: 180px;  /*coverのheightと同じ値で真ん中になる*/
    display: inline-block;
    
    @media (min-width: 768px) {
        // position: absolute;
        font-size: 3.5rem;
        line-height: 0;
        margin-top: 55px;
    }
}


h3 {
    font-size: 3.5rem;
    color: $menuColor;
    @include subtitle_shadow;
    margin-bottom: 20px;
    text-align: center;
    line-height: 77px;  /*coverのheightと同じ値で真ん中になる*/
    
    @media (min-width: 768px) {
    }
}

h4 {
    font-size: 3.0rem;
    color: $keyColor;
    margin-bottom: 20px;
    text-align: center;
    
    @media (min-width: 768px) {
        text-align: left;
    }
}

h5{
    font-size: 1.8rem;
    color: $subheadingColor;
    font-weight: bold;
    margin-bottom: 20px;
    
    @media (min-width: 768px) {
        font-size: 1.8rem;
    }
}

h5:before {
      content : url("../images/01-3_treatment/paragraph.png") ;
      display: inline-block;
      margin-right: 6px;
      position: relative;
      top: 3px;
}

.baseColor_container {
    background: $baseColor;
}

.subColor_container {
    background: $subColor;
    color: white;
}

.sp_menu_menuColor{
    
    @include sp_menu;
    background: $menuColor;
    @include font_white;
    
    li:hover {
        text-decoration: none;
    }
    
    li{
        border: solid 1px white;
        border-left: none;
        border-right: none;
        }
    }

.sp_menu_white{
        
    @include sp_menu;
    background: $baseColor;
    @include font_subColor;
    
    li{
        border: solid 1px $subColor;
        border-left: none;
        border-right: none;
    }
}






/* header
----------------------------------------------------------------*/

.header_bg {
    background: $baseColor;
    padding-top: 14px;
    padding-bottom: 5px;
    
    .header_container{
        align-items: flex-end;
        
        .header_left{
              margin-right: auto;
        
            .logo_img {
                padding-bottom: 7px;
            }
            
            .logo_pc{
                color: $subColor;
                @media (max-width: 767px) {
                        // display: none;
                    }
                    .title_sublogo{
                        font-size:12px;   
                    }
                    .title_logo{
                        font-size: 40px;
                        font-weight: bold;
                    }
            }
            
            .logo_sp{
                @media (min-width: 768px) {
                        display: none;
                    }
            }
            
            .header_address_sp{
                color: $subColor;
                font-size: 1.6rem;
                
                a:link{color: $subColor;}
                
                
                @media (min-width: 768px) {
                        display: none;
                    }
            }
        }
    
        .header_right{
            
            .header_address_pc{
                color: $subColor;
                font-size: 1.8rem;
                
                a:link{color: $subColor;}
                
                @media (max-width: 767px) {
                    display: none;
                }
            }
            
            .SP_menu_li{
                @media (min-width: 768px) {
                    display: none;
                }
                #hamburger_menu_container{
                        background: $menuColor;
                        border-radius: 7px;
                }
            }
        } // .menu_container
    } // .header_container
    
}  //.header_bg

#PC_menu{
    @media (max-width: 767px) {
                display: none;
            }
}

.table-ul {
    display: table;
    table-layout: fixed;
    text-align: center;
    padding:0 ;
    width: 100%;
    margin-bottom: 60px;
  
    li {
        display: table-cell;
        vertical-align: middle;
        position: relative;
        
        
        a:hover img{
            opacity:0.7;
            filter:alpha(opacity=70);
            -ms-filter: “alpha( opacity=70 )”;
        }  /*ホバー時に色を薄くする*/
      
        .pc_menu_text{
            display: block;
          
            .main_menu_img{
                width:100%;
                height: 35px;
            }
            
            p{
                position: absolute;
                top: 50%;
                left: 0;
                -ms-transform: translate(0,-50%);
                -webkit-transform: translate(0,-50%);
                transform: translate(0,-50%);  /*縦の文字分のズレを調節*/
                padding:0;
                left: 0;
                right: 0;
                margin: auto;
                
                font-size: 1.4rem;
                font-weight: bold;
                @include font_white;
                
                text-shadow: 1px 1px 1px rgba(0,0,0,0.3),
                 -1px 1px 1px rgba(0,0,0,0.3),
                 1px -1px 1px rgba(0,0,0,0.3),
                 -1px -1px 1px rgba(0,0,0,0.3);
            }
        }
    }
}






/* #SP_menu
----------------------------------------------------------------*/

#SP_menu{
            @media (min-width: 768px) {
                display: none;
            }
            
            .SP_sub_menu_li{
                display: none;
            
            
                .SP_sub_menu_item{
                    text-align: center;
                    font-weight: bold;
                    color: white;
                    
                    
                    :link{
                        color: white;
                    }
                    :visited{
                        color: white;
                    }
                }
            } // .SP_sub_menu_li
        }



/* cover_area
----------------------------------------------------------------*/

#cover_area {
    height: 353px;
    text-align: center;
    padding: 0;
    margin-bottom: 40px;

    background-image: url("../images/02-1_index/02-1_toppage_cover.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    
    
    //PC表示
    @media (min-width:768px) {
        
        background-image: url("../images/01-1_index/01-1_toppage_cover.jpg");
        text-align: left;
        height: 481px;
        padding: 0;
        margin-bottom: 0;
    }

}  // .cover_area



/* main_container
----------------------------------------------------------------*/


#main_container{
    
    background: $baseColor;
    padding-bottom: 85px;
    
    .main_fbox{
        -webkit-flex-direction: column; /* Safari */
        flex-direction:         column;
        
        @media (min-width:768px) {
            -webkit-flex-direction: row; /* Safari */
            flex-direction:         row;
            -webkit-justify-content: space-between; 
            justify-content: space-between;  /*左右に開くfbox*/
        }
    }
    .fbox{
        .main_contents{
            width: 100%;
            
            @media (min-width:768px) {
                width: 61%;
            }
            
            .news{
                text-align: center;
                margin-bottom: 50px;
                
                @media (min-width:768px) {
                    text-align: left;
                }
                
                
                .news_contents{
                    padding-bottom: 15px;
                }
            }
            
            .greeting_fbox{
                -webkit-flex-direction: column-reverse; /* Safari */
                flex-direction:         column-reverse;
                
                @media (min-width:768px) {
                    -webkit-flex-direction: row; /* Safari */
                    flex-direction:         row;
                    -webkit-justify-content: space-between; 
                    justify-content: space-between;  /*左右に開くfbox*/
                }
                
                .greeting_text{
                    width: 100%;
                    margin-bottom: 50px;
                
                    @media (min-width:768px) {
                        text-align: left;
                        width: 62%;
                    }
                }
                
                .greeting_img{
                    width: 200px;
                    margin: auto;
                    margin-bottom: 30px;
                    
                    @media (min-width:768px) {
                        text-align: left;
                        width: 33%;
                        margin: 0;
                    }
                    
                    img{
                        width:100%;
                        height: auto;
                    }
                    
                }
            } //greeting_fbox
            
            .subject{
                margin-bottom: 50px;
                
                @media (min-width:768px) {
                    margin: 0;
                }
            }
            
        }
        
        .side_contents{
            width: 100%;
            
            @media (min-width:768px) {
                        width: 33%;
                    }
            
            .time_table{
                border: 1px #292929 solid;
                width: 100%;
                text-align: center;
                margin-bottom: 50px;
                
                th{
                    background: $footerColor;
                    border: 1px #000 solid;
                    padding: 3px;
                }
                td{
                    border: 1px #000 solid;
                    padding: 3px;
                }
            }
            .ggmap {
                position: relative;
                
                overflow: hidden;
                border: solid $fontColor 1px;
                
                #map1{
                    width:100%;
                    height: 300px;
                }
                
            }
                 
         
        } /*side_contents*/
        
    }
    
} //#main_container


/* footer
----------------------------------------------------------------*/

footer {   
    background: $footerColor;
    // @include font_white;
    padding-bottom: 40px;
    
    @media (min-width: 768px) {
            padding-top: 30px;
            padding-bottom: 20px;
            }
    
    .footer_text_container{
        margin-top: 30px;
        font-size: 1.3rem;
        padding-bottom: 30px;
        text-align: center;
        -webkit-flex-direction: column; /* Safari */
        flex-direction:         column;
        
        @media (min-width:768px) {
            -webkit-flex-direction: row; /* Safari */
            flex-direction:         row;
            margin-top: 0;
            text-align: left;
        }
        
        
        a:link{
            color: $fontColor;
        }
        
        // .footer_text_container{
        //     @media (max-width: 767px) {
        //         display: none;
        //     }
        
        .footer_title{
            padding-top: 10px;
            padding-bottom: 20px;
        }
        .footer_name{
            font-size: 3.0rem;
            font-weight: bold;
            
            @media (min-width: 768px) {
                font-size: 1.3rem;
                font-weight: normal;
            }
        }
            
        .footer_text_container_1{
            padding-left: 0;
            margin-bottom: 10px;
            
            @media (min-width: 768px) {
                margin: 0;
            }
        }
            
        .footer_text_container_2{
            padding-left: 0;
            
            @media (min-width: 768px) {
                padding-left: 96px;
            }
        }
    } // .footer_text_container
        
    li:hover{
            text-decoration: underline;
    }
    
    .footer_pc_menu{
        display: inline-block;
        padding:0;
        
        @media (max-width: 767px) {
                display: none;
            }
        
        li {
            display: inline-block;
            padding: 0 10px 0 7px ;
            background-image: url("../images/01-1_index/arrow_black.png");
            background-size: 4px 8px;
            background-repeat: no-repeat;
            background-position: 0px 45%; 
            font-size: 1.3rem;
            display: inline-block;
        }
    }
}




/* introduction.html
----------------------------------------------------------------*/


#introduction_cover_area {
    @include sub_page_cover_area;
    background-image: url("../images/01-2_introduction/02-2_introduction_cover.jpg");
    //PC表示
    @media (min-width:768px) { 
        background-image: url("../images/01-2_introduction/01-2_introduction_cover.jpg");
    }
}  // .cover_area

.subpage_fbox{
    -webkit-flex-direction: column; /* Safari */
    flex-direction:         column;
    
    @media (min-width:768px) {
        -webkit-flex-direction: row; /* Safari */
        flex-direction:         row;
        -webkit-justify-content: space-between; 
        justify-content: space-between;  /*左右に開くfbox*/
    }
}


/* side_menu
----------------------------------------------------------------*/

.side_menu_contents{
    width: 24%;
    @media (max-width: 767px) {
                    display: none;
                }
}

.side_table-ul {
    display: table;
    table-layout: fixed;
    text-align: center;
    padding:0 ;
    width: 100%;
    margin-bottom: 60px;
  
    li {
        vertical-align: middle;
        position: relative;
        
        
        a:hover img{
            opacity:0.7;
            filter:alpha(opacity=70);
            -ms-filter: “alpha( opacity=70 )”;
        }  /*ホバー時に色を薄くする*/
      
        .pc_menu_text{
            display: block;
          
            .main_menu_img{
                width:100%;
                height: 35px;
            }
            
            p{
                position: absolute;
                top: 50%;
                left: 0;
                -ms-transform: translate(0,-50%);
                -webkit-transform: translate(0,-50%);
                transform: translate(0,-50%);  /*縦の文字分のズレを調節*/
                padding:0;
                left: 0;
                right: 0;
                margin: auto;
                
                font-size: 1.6rem;
                font-weight: bold;
                @include font_white;
                
                text-shadow: 1px 1px 1px rgba(0,0,0,0.3),
                 -1px 1px 1px rgba(0,0,0,0.3),
                 1px -1px 1px rgba(0,0,0,0.3),
                 -1px -1px 1px rgba(0,0,0,0.3);
            }
        }
    }
} //.side_table-ul


/* subpage_main_contents (introduction.html)
----------------------------------------------------------------*/

.subpage_main_contents{
    width: 100%;
    
    //PC表示
    @media (min-width:768px) {
        width: 68%;
    }
    
    
    .paragraph{
        margin-bottom: 90px;
    }
    
    .heading {
        width: 432px;
        max-width: 100%;
        height: 77px;
        margin: auto;
        margin-bottom: 40px;
        
        background-image: url("../images/01-2_introduction/pattern.jpg");
        
    }
    
/* stuff
----------------------------------------------------------------*/
    
    .stuff_fbox{
        margin-bottom: 80px;
        
        -webkit-flex-direction: column-reverse; /* Safari */
        flex-direction:         column-reverse;
        
        @media (min-width:768px) {
            -webkit-flex-direction: row; /* Safari */
            flex-direction:         row;
            -webkit-justify-content: space-between; 
            justify-content: space-between;  /*左右に開くfbox*/
        }
        
        .stuff_text_container{
            margin: auto;
            
            //PC表示
            @media (min-width:768px) { 
                margin: 0;
            }
            
            .stuff_name{
            font-size: 2.5rem;
            font-weight: bold;
            color: $nameColor;
            margin-bottom: 10px;
        }
            
        }
        .stuff_img_container{
            text-align: center;
            margin-bottom: 30px;
            
            //PC表示
            @media (min-width:768px) { 
                margin: 0;
            }
        }
    }
    
/* picture
----------------------------------------------------------------*/
    .picture{
        .heading{
            margin-bottom:10px;
        }
        .picture_fbox{
            margin-bottom: 80px;
            
            
            -webkit-flex-direction: column; /* Safari */
            flex-direction:         column;
            
            
            @media (min-width:768px) {
                -webkit-flex-direction: row; /* Safari */
                flex-direction:         row;
                -webkit-justify-content: space-between; 
                justify-content: space-between;  /*左右に開くfbox*/
                -webkit-flex-wrap: wrap; /* Safari */
                flex-wrap:         wrap;
            }
            
            div{
                text-align:center;
                
                //PC表示
                @media (min-width:768px) { 
                    text-align:left;
                }
                
                img{
                    margin-top: 45px;
                }
            }
        }
    }

}


/* treatment.html
----------------------------------------------------------------*/


#treatment_cover_area {
    @include sub_page_cover_area;
    background-image: url("../images/01-3_treatment/02-3_treatment_cover.jpg");
    //PC表示
    @media (min-width:768px) { 
        background-image: url("../images/01-3_treatment/01-3_treatment_cover.jpg");
    }
}  // .cover_area


.float_right_picture{
    float: right;
}

.mini_paragraph{
    margin-bottom: 50px;
}

.illust_description_fbox{
    
    -webkit-flex-direction: column; /* Safari */
    flex-direction:         column;
    margin-bottom: 70px;
    
    @media (min-width:768px) {
        -webkit-flex-direction: row; /* Safari */
        flex-direction:         row;
        -webkit-justify-content: space-between; 
        justify-content: space-between;  /*左右に開くfbox*/
    }

    .illust_container{
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
        
        //PC表示
        @media (min-width:768px) { 
            width: 19%;
            margin:0;
        }
        
        .C4_illust{
            position: relative;
            top: 0;
        }
        //PC表示
        @media (min-width:768px) { 
            top: 30px;
        }
    }
    
    .description_container{
        width: 100%;
        
        //PC表示
        @media (min-width:768px) {
            width: 74%;
        }
        
        .description_title{
            font-size: 2.0rem;
            font-weight: bold;
            color: $subheadingColor;
            margin-bottom: 5px;
        }
    }

}


/* flow.html
----------------------------------------------------------------*/


#flow_cover_area {
    @include sub_page_cover_area;
    background-image: url("../images/01-4_flow/02-4_flow_cover.jpg");
    //PC表示
    @media (min-width:768px) { 
        background-image: url("../images/01-4_flow/01-4_flow_cover.jpg");
    }
}  // .cover_area